<!-- Navbar -->

<div class="flex-container" style="background-color:white;">
  
  <div class="flex-2" style="width: 10%;">
    <a class="linkButton" href="\" style="background-color:white;"><img class="logo" src="/img/ees62-logo2.png" /></a>
      
  </div>
 
</div>
<!-- Navbar on small screens -->