<!-- Navbar -->

<div class="flex-container" style="background-color: black;">
  <a class="active" href="\">
  <div class="flex-logo">
    
      <img class="logo" src="/img/478.png" />
  </div></a>
  <div class="flex-1">
    CENS Nº 478
    <h2 class="title">
  </div>


</div>
<!-- Navbar on small screens -->