<!-- Navbar -->

<div class="topnav">
  <a class="active" href="\">
    <img class="center logo" src="/img/478.png" />
    CENS 478</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a style="float:right"
      href="https://www.facebook.com/esc62"
      class=""
      title="My Account"
    >
    <i  class="fa fa-facebook-official"></i>
    facebook
    </a>
</div>
<!-- Navbar on small screens -->
