<script src="/js/docenteCargoAlta.ajax.js"></script>

<div class="">
  <form action="/docente/cargo/alta" method="post" class="">

    <div class="row">

      <div class="col-md-3">
        <label for="inputRol" class="form-label">Rol</label>
        <select id="inputRol"  class="form-select" type="text" placeholder="Ingrese su/s apellido/s" name="rol" required>
          <option value="" disabled>Seleccione un rol</option>
          <option value="6" selected>Profesor/a</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="inputRevista" class="form-label">S. de Revista</label>
        <select id="inputRevista"  class="form-select" type="text" placeholder="Ingrese su Situación de Revista" name="revista" required>
          <option value="" disabled selected>Seleccione una s. de revista</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="inputCurso" class="form-label">Curso</label>
        <img class="w3-bar-item w3-right" id="waitIconCurso" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="25" height="25" />
        <select id="inputCurso"  class="form-select" type="text" placeholder="Ingrese su/s apellido/s" name="curso" required>
          <option value="" disabled selected>Seleccione un curso</option>
          <% cursos.forEach(function(curso){ %>
          <option value="<%= curso.idCurso %>"><%= curso.clave%> - <%= curso.turnoNombre%></option>
           <% }); %>
        </select>
      </div>
      
      <div class="col-md-3">
        <label for="inputAsignatura" class="form-label">Cargo/Asignatura</label>
        <img class="" id="waitIconAsignatura" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="25" height="25" />
        <select id="inputAsignatura"  class="form-select inputAsignatura" name="cursoAsignatura"  required disabled >
          <option value="" disabled selected>Seleccione una asignatura</option>
        </select>
      </div>

    </div>
    <br>
    <div class="btn-group  col-md-12">
      <button class="btn btn-outline-success" type="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Enviar solicitud
      </button>
      <button id="btnLimpar" class="btn btn-outline-primary " type="button">
        <i class="fa fa-eraser" aria-hidden="true"></i>
        Limpiar
      </button>
      <button id="btnCancelar" class="btn btn-outline-warning" type="button">
        <i class="fa fa-ban" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
  </form>
  <hr>
</div>


