<div class="w3-bar w3-black" >
    <a class="w3-bar-item w3-button" href="#"><i class="fa fa-home fa-lg"></i></a>
    <a class="w3-bar-item w3-button" href="#"> <b><i class="fa fa-briefcase"></i> Cargos</b> </a>
    <a class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" href="#">Link 1</a>
    <a class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" href="#">Link 2</a>
    <div class="w3-cointainer w3-right">
        <button class="w3-button w3-hover-green" id="btnDocenteCargoAlta" title="Alta de cargo" >
            <i class="fa fa-plus">

            </i>
        </button>
        <a class="w3-button w3-hover-blue" href="#"> <i class="far fa-edit"></i></a>
        <a class="w3-button w3-hover-red" href="cursos/baja"> <i class="fa fa-trash fa-fw"></i></a>
        <a class="w3-bar-item w3-button w3-right" href="../"><i class="fa fa-arrow-left fa-fw"></i></a>
    </div>
</div>