<nav class=" navbar navbar-expand-lg navbar-light bg-light" style="height: 50px;">
    <div class="container container-fluid">
      <a class="navbar-brand" href="#"><b><i class="fa fa-briefcase"></i> Cargos</b></a>

  
      <div class="" id="">
        <button class="btn btn-outline-success" id="btnDocenteCargoAlta" title="Alta de cargo" >
            <i class="fa fa-plus"></i>
        </button>
        <a class="btn btn-secondary" href="../"><i class="fa fa-arrow-left"></i></a>
        
      </div>
    </div>
  </nav>

  