<% var rootPath='../' ; %>
  <%- include(rootPath + 'partials/parte1Superior' ) %>

    <!-- Header -->

    <a href="/estudiante">
      <div class="container p-5 my-5 bg-info text-white">
        <h1>Estudiantes</h1>
        <p>This container has a dark background color and a white text, and some extra padding and margins.</p>
      </div>
    </a>
    
    <a href="/curso/todos">
      <div class="container p-5 my-5 bg-secondary ">
        <h1>Cursos</h1>
        <p>This container has a blue background color and a white text, and some extra padding and margins.</p>
      </div>
    </a>
    <a href="/ruta-del-vinculo">
    <div class="container p-5 my-5 border  bg-light text-dark">
        <h1>Docentes</h1>
        <p>This container has a border and some extra padding and margins.</p>
      </div>
    </a>


    <%- include(rootPath + 'partials/parte2Inferior' ) %>