<nav class="navbar navbar-expand-lg navbar-static-top navbar-inverse">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Inicio</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="#"><span class="glyphicon glyphicon-book"></span> EES N° 62</a>
      </li>
    </ul>

  <div class="d-flex">
    <ul class="nav navbar-nav">
      <li class="">
        <a href="#"><span class="glyphicon glyphicon-book"></span> EES N° 62</a>
      </li>
    </ul>
  </div>
</nav>

