<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body  class="w3-light-grey">
  <!-- Top container -->

  <% include ../partials/topContainer.ejs %>
<!-- Sidebar/menu -->
<%if(typeof usuario == 'object' && usuario){%>
  <% include ../partials/lateralNav.ejs %>
  
<%} else {%>
  
<%}%>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">