<!-- Image and text -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-right" href="#">
    <img class="" id="waitIconAsignatura" src='/img/logoees62gris.png' width="30" height="30" />
  </a>
 
  <div class="collapse navbar-collapse" id="navbarText">
    EES62
    <ul class="navbar-nav mr-auto">
     
    </ul>    
  </div>

  <%if(typeof(user) == "undefined"){%>
    <a class="w3-button w3-section w3-blue w3-ripple" href="/auth/google"> <i class="fa fa-google" aria-hidden="true"></i> Iniciar sesión </a>
    <%} else {%>
    <%if(user == null){%>
      <a class="w3-button w3-section w3-blue w3-ripple" href="/auth/google"> <i class="fa fa-google" aria-hidden="true"></i> Iniciar sesión </a>
    
  <%} else {%>
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="<%= user.picture %>" class="" style="width:22px">
          <span> <%= user.given_name %> <%= user.family_name %></span>
        </a>
        <div class="dropdown-menu">
          <a href="/docente/cargo" class="dropdown-item"><i class="fa fa-briefcase"></i>  Cargos</a>
          <div class="dropdown-divider"></div>
          <a href="/usuario/logout" class="dropdown-item" ><i class="fa fa-sign-out" ></i> Salir</a>
        </div>
      </li>
    </ul>
    
  <%}%>
  <%}%>
</nav>