<!DOCTYPE html>
<html>
<head>
  <%- include ../partials/header.ejs %>
</head>

<body>

  <%- include ../partials/nav.ejs %>

<div class="container">
<h1>Hubo un error en la consulta</h1>
<h2>Es posible que el documento no exista</h2>


</div>

</body>
</html>
