<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center p-1">
        <a href="/" class="lang-logo" style="background: #f7f7f7;">
          <img src="/ees62-logo2.png">
        </a>
        <h1>E.E.S. N° 62</h1>
        <p>Escuela de Educación Secundaria N° 62</p>
    </div>
    <div class="text-center">
        <h2>Boletín Virtual</h2>
        <form class="form-inline" action="/boletin/consulta" method="GET">
          <div class="form-group">
            <input type="number" name="id" min="0" step="1" class="btn btn-lg btn-default"
              placeholder="Ingrese su DNI sin puntos" required>
          </div>
          <button type="submit" class="btn btn-lg btn-primary">Enviar consulta <span
              class="glyphicon glyphicon-arrow-right"></span></button>
        </form>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3><span class="glyphicon glyphicon-info-sign"></span> Funcionamiento</h3>
          <ul>
            <li>Los estudiantes deben ingresar su número de DNI y presión el botón "Enviar consulta".</li>
            <li>El sistema devolverá la calificación cargada hasta el momento.</li>
            <li>Este boletín es dinámico, por lo tanto, puede sufrir modificaciones.</li>
            <li class="alert-danger">Este sistema no funciona sin un número de DNI.</li>
          </ul>
        </div>
      </div> <!-- row -->

    </div>
 

    <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© Manuel León</div>
</body>

</html>