<script src="/js/cursoEstudianteAlta.ajax.js"></script>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalId" class="modal-body">
        <div class="modal_data" id=""></div>
        <div class="text-white mb-3 m-0">
          <h5>1° Cuatrimestre</h5>
        <div class="">
          <div class="card-header">&ensp;1° Bimestre</div>
          <div class="row">
            <div class="col-4" id="">
              <label for="divValoracion1">Valoración</label>
              <div class="modal_data" id="divValoracion1"></div>
            </div>
            <div class="col" id="">
              <label for="divInforme1">Informe</label>
              <div class="modal_data" id="divInforme1"></div>
            </div>
          </div>
          <div class="card-header mt-3">&ensp;2° Bimestre</div>
        <div class="row">
          <div class="col-4" id="">
            <label for="divValoracion2">Valoración</label>
            <div class="modal_data" id="divValoracion2"></div>
          </div>
          <div class="col" id="">
            <label for="divInforme2">Informe</label>
            <div class="modal_data" id="divInforme2"></div>
          </div>
        </div>
        </div>
        <br />
        </div>
        <hr />
        
        
        <br />
        <h2>2° Cuatrimestre</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
