<script src="/js/cursoEstudianteAlta.ajax.js"></script>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header p-2">
        <p class="modal-title" id="exampleModalLongTitle">Calificación: estudiante  <span id="index"></span>/<span id="totalElementos"></span></p>
      </div>
      <div id="modalId" class="">
        
        <div class="row m-1 bg-dark">
          <button id="estudianteAnterior" class="positivo btn_form col-2 btn btn-info"><<</button>
          <h5 id="estudiante" class="col-8 text-center mt-2 overflow-hidden"> nomb_estudiante <span id="index"></span></h5> 
          <button id="estudianteSiguiente" class="positivo btn_form col-2 btn btn-info float-end">>></button>
        </div>
        <div>
          
          <div id="form_change" style="display:none ;">false</div>
          <div id="accordion">
            <div class="card">
                <a class="collapsed card-header text-center" data-bs-toggle="collapse" href="#collapseOne">
                  <h4>1# Cuatrimestre</h4>
                </a>
              <div id="collapseOne" class="collapse bg-dark" data-bs-parent="#accordion">
                <div class="card-body">
                  <div class="">
                    <div class="card-header">&ensp;1° Bimestre</div>
                    <div class="row">
                      <div class="col-4" id="">
                        <label for="divValoracion1">Valoración</label>
                        <div class="modal_data" id=""></div>
                      </div>
                      <div class="col" id="">
                        <label for="divInforme1">Informe</label>
                        <div class="modal_data" id=""></div>
                      </div>
                    </div>
                    <div class="card-header mt-3">&ensp;2° Bimestre</div>
                  <div class="row">
                    <div class="col-4" id="">
                      <label for="divValoracion2">Valoración</label>
                      <div class="modal_data" id="divValoracion2"></div>
                    </div>
                    <div class="col" id="">
                      <label for="divInforme2">Informe</label>
                      <div class="modal_data" id="divInforme2"></div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
                <a class="collapsed card-header text-center" data-bs-toggle="collapse" href="#collapseTwo">
                  <h4>2# Cuatrimestre</h4>
              </a>
              <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                <div class="card-body">
                  <div class="">
                    <div class="card-header">&ensp;3° Bimestre</div>
                    <div class="row">
                      <div class="col-4" id="">
                        <label for="divValoracion1">Valoración</label>
                        <div class="modal_data" id=""></div>
                      </div>
                      <div class="col" id="">
                        <label for="divInforme1">Informe</label>
                        <div class="modal_data" id=""></div>
                      </div>
                    </div>
                    <div class="card-header mt-3">&ensp;4° Bimestre</div>
                  <div class="row">
                    <div class="col-4" id="">
                      <label for="divValoracion2">Valoración</label>
                      <div class="modal_data" id="divValoracion2"></div>
                    </div>
                    <div class="col" id="">
                      <label for="divInforme2">Informe</label>
                      <div class="modal_data" id="divInforme2"></div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <a class="collapsed card-header text-center" data-bs-toggle="collapse" href="#collapse3">
                <h4>Anual</h4>
              </a>
              <div id="collapse3" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                  <div class="">
                    <div class="card-header">&ensp;3° Bimestre</div>
                    <div class="row">
                      <div class="col-4" id="">
                        <label for="divValoracion1">Valoración</label>
                        <div class="modal_data" id=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          </div>
        </div>
        

      </div>
      <div class="modal-footer">
        <button  id="aceptar_form" type="button" class="btn btn-info btn_form" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
